.elements{
    width: 880px;
    margin: 27.25px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 940px){
    .elements{
        width: 90%;
        justify-content: space-around;
    }
}

@media screen and (max-width: 660px){
    .elements{
        width: 320px;
    }
}

@media screen and (max-width: 420px){
    .elements{
        margin-top: 16px;
    }
}