.element__delete-icon{
    position: absolute;
    background-image: url('../../../images/element__delete-icon.svg');
    background-color: transparent;
    border: 0;
    z-index: 20;
    width: 18px;
    height: 19px;
    top: 18px;
    right: 15px;
    cursor: pointer;
    opacity: .9;
    transition: .2s linear;
  }
  
  .element__delete-icon:hover{
    opacity: 1;
  }