.popup__close-icon{
    position: absolute;
    top: -40px;
    right: -40px;
    background-image: url('../../../images/popup__container_after.svg');
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    background-color: transparent;
    width: 32px;
    height: 32px;
    content: ' ';
    cursor: pointer;
    z-index: 11;
    transition: .2s linear;
}

.popup__close-icon:hover{
    opacity: .5;
    transition: .2s linear;
}

@media screen and (max-width: 586px){
    .popup__close-icon{
        width: 20px;
        height: 20px;
        background-size: 20px;
        top: -35px;
        right: 0;
    }
}