.popup__button {
  margin: 28px auto 0; /* изменил отступ т.к. при ошибках кнопка слишком сильно съезжает вниз */
  color: white;
  width: 358px;
  height: 50px;
  background-color: black;
  border: 0;
  transition: 0.2s linear;
  cursor: pointer;
}

.popup__button:hover {
  background: rgba(0, 0, 0, 0.8);
  transition: 0.2s linear;
}

.popup__button:focus {
  background-color: #292929;
  transition: 0.2s linear;
}

@media screen and (max-width: 586px) {
  .popup__button {
    margin-top: 45px;
    font-size: 14px;
    line-height: 16.94px;
    width: 238px;
    height: 46px;
  }
}
