.elements__ordinary-container{
    margin: 25px auto 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 246px;
    justify-content: space-between;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}