.header__ordinary-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 430px) {
  .header__ordinary-container {
    flex-direction: column;
  }
}
