.auth__hint {
  margin: 15px 0 0;
  padding: 0 0 65px 0;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
  transition: 0.2s linear;
}

@media screen and (max-width: 430px) {
  .auth__hint {
    margin-top: 20px;
  }
}

.auth__hint:hover {
  opacity: 0.7;
}
