.profile{
    margin: 36.25px auto 0;
    padding: 0;
    width: 880px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 940px){
    .profile{
        width: 90%;
    }
}

@media screen and (max-width: 760px){
    .profile{
        flex-direction: column;
    }
}

@media screen and (max-width: 420px){
    .profile{
        
        margin-top: 38.25px;
    }
}