.profile__picture-container{
    position: relative;
}

.profile__picture-container:hover .profile__image{
    opacity: .4;
}

.profile__picture-container:hover .profile__avatar-edit{
    opacity: 1;
}