.profile__edit-button{
    background-image: url('../../../images/profile__info__edit-button.svg');
    width: 24px;
    height: 24px;
    margin: 16px 0 0 18px;
    border: 0;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.profile__edit-button:hover{
    opacity: 60%;
    transition: .2s ease-in;
}

@media screen and (max-width: 550px){
    .profile__edit-button{
        margin-left: 10px;
    }
}

@media screen and (max-width: 420px){
    .profile__edit-button{
        margin-top: 8px;
        margin-left: 0;
        padding: 0;
        background-size: 100%;
        width: 18px;
        height: 18px;
    }
}