.element__like{
    width: 22px;
    height: 19px;
    cursor: pointer;
    background-image: url('../../../images/elements__card__like.svg');
    transition: .2s ease-in-out;
    border: 0;
    background-color: transparent;
}

.element__like:hover{
    opacity: 60%;
    transition: .2s ease-in;
}
